
<%- include ('../Includes/student_nav.ejs') %>

<%- include ('../Includes/begin.ejs') %>

<div class="container-fluid ">
    <div class="row justify-content-center">
        <div class="col-md-10" style="margin-top:10%;">
            <div class="card" style="width: 50%; background-color: rgb(0, 5, 5);">
                <div class="card-header" style="background-color: rgb(44, 51, 56);">
                    <h2 class="text-center" style="font-size: 30px; font-weight: bold; color:rgb(255, 254, 254);">Choose Semester</h2>
                </div>
                <div class="card-body">
                    <form method="POST" action="/student/display/result">
                        <div class="form-group">
                            <label for="semester" style="color: rgb(252, 252, 252); font-size: 20px; font-weight: bold;">Select Semester:</label>
                            <select class="form-control" id="semester" name="semester">
                                <!-- Add options for semesters here -->
                                <option value="1">Semester 1</option>
                                <option value="2">Semester 2</option>
                                <option value="3">Semester 3</option>
                                <option value="4">Semester 4</option>
                                <option value="5">Semester 5</option>
                                <option value="6">Semester 6</option>
                                <option value="7">Semester 7</option>
                                <option value="8">Semester 8</option>
                            </select>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">View Result</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
